*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  width: 1140px;
  height: 534px;
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  gap: 30px;
}

.result {
  width: 711px;
}

.result__video-container {
  position: relative;
}

.result__video {
  object-fit: cover;
  width: 711px;
  height: 386px;
  padding-bottom: 16px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 18px;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  border: 1px solid #fff;
  background: transparent;
  position: relative;
  cursor: pointer;
}

/* Псевдоэлемент для отображения галочки/квадрата */
.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background: #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Отображение псевдоэлемента при активном чекбоксе */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

/* ОБВОДКА ТОЛЬКО ДЛЯ TAB-НАВИГАЦИИ */
.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Подчёркивание текста при наведении на лейбл */
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 390px;
  height: 34px;
  margin-top: 30px;
}

.content__details {
  width: 399px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 0.92;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: block;
  padding: 3px;
  cursor: pointer;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__video-card-title {
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}
